{{ define "main" }}

<div class="row">
  <div class="col-md-12">
    <h1>Organizing Guide</h1>
    <div>
      <ol>
      {{- range .Pages -}}
        {{- if .IsNode -}}
          <li><a href='{{ .Permalink }}'> {{ .Title }}</a>
            <ol>
              {{- range .Pages -}}
                {{ .Render "summary" }}
              {{- end -}}
            </ol>
          </li>
        {{- else -}}
         {{ .Render "summary" }}
        {{- end -}}
      {{- end -}}
      </ol>
    </div>
  </div>
</div>

{{ end }}
